
API/.idea/misc.xml
API/.idea/API.iml
API/.idea/dataSources.xml
API/.idea/inspectionProfiles/profiles_settings.xml
API/.idea/modules.xml
API/.idea/sqldialects.xml
API/__pycache__/API_PA.cpython-39.pyc
WEB/.idea/dataSources.xml
WEB/.idea/modules.xml
WEB/.idea/php.xml
WEB/.idea/sqldialects.xml
WEB/.idea/templatemo_565_onix_digital.iml
WEB/.idea/inspectionProfiles/Project_Default.xml
